<div class="row">
  <div class="col-md-4">
  	<div class="panel ">
  		<div class="panel-heading">
  			<h2 class="text-center"><i class='fa fa-file-text-o'></i> To Do</h2>
    		<%= render @to_do %>
  		</div>
  	</div>
  </div>
  <div class="col-md-4">
  	  <div class="panel ">
  		<div class="panel-heading">
  	<h2 class="text-center"><i class='fa fa-pencil'></i> Doing</h2>
    <%= render @doing %>
    </div>
    </div>
  </div>
  <div class="col-md-4">
  	  	  <div class="panel ">
  		<div class="panel-heading">
  	<h2 class="text-center"><i class='fa fa-check'></i> Done</h2>
    <%= render @done %>
    </div>
    </div>
  </div>
</div>
<br>
<%= link_to 'New Task', new_task_path %>


