<div class="row">

  			<h1><i class="fa fa-check-square-o"></i> About</h1>
  			<p>GrazieZio e' una app nata per aiutarti nella vita quotidiana</p>
  			<P> Realizzata da <a href="http://ugolino.me" target="_blank" >Daniele Ugolini</a> </p>

</div>