<div class="jumbotron">
  <h1><i class="fa fa-check-square-o"></i> My Trello</h1>
  <p>Tieni organizzata la tua vita con My Trello</p>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>

